<form action="/cart" method="POST">
  <button class="btn" type="submit">Add to cart</button>
  <input hidden name="_csrf" value="<%= csrfToken %>" />
  <input hidden name="productId" value="<%= product._id %>" />
</form>
